<a href="https://colab.research.google.com/github/bilalProgTech/mtech-data-science/blob/master/AISem3/CW/AI_Sem_3_A1_BilalHungund_D013.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem Statement - Home Credit Risk¶
Many people struggle to get loans due to insufficient or non-existent credit histories. And, unfortunately, this population is often taken advantage of by untrustworthy lenders.

Home Credit strives to broaden financial inclusion for the unbanked population by providing a positive and safe borrowing experience. In order to make sure this underserved population has a positive loan experience, Home Credit makes use of a variety of alternative data--including telco and transactional information--to predict their clients' repayment abilities.

While Home Credit is currently using various statistical and machine learning methods to make these predictions, they're challenging Kagglers to help them unlock the full potential of their data. Doing so will ensure that clients capable of repayment are not rejected and that loans are given with a principal, maturity, and repayment calendar that will empower their clients to be successful.

# Link Reference
https://www.kaggle.com/c/home-credit-default-risk/

# Approaches to predict the home credit risk
* LGBMClassifier (Ensemble Technique)

# Leaderboard Accuracy
Private Score: 0.77379 <br>
Public Score: 0.77186

# Downloading the data

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/content/gdrive/My Drive/Kaggle'

In [3]:
!pwd

/content

In [4]:
! kaggle competitions download -c home-credit-default-risk

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading HomeCredit_columns_description.csv to /content
  0% 0.00/36.5k [00:00<?, ?B/s]
100% 36.5k/36.5k [00:00<00:00, 33.7MB/s]
Downloading bureau.csv.zip to /content
 60% 22.0M/36.8M [00:00<00:00, 61.7MB/s]
100% 36.8M/36.8M [00:00<00:00, 92.6MB/s]
Downloading sample_submission.csv to /content
  0% 0.00/524k [00:00<?, ?B/s]
100% 524k/524k [00:00<00:00, 162MB/s]
Downloading previous_application.csv.zip to /content
 87% 66.0M/76.3M [00:00<00:00, 62.1MB/s]
100% 76.3M/76.3M [00:00<00:00, 112MB/s]
Downloading POS_CASH_balance.csv.zip to /content
 95% 103M/109M [00:00<00:00, 128MB/s]
100% 109M/109M [00:00<00:00, 138MB/s]
Downloading credit_card_balance.csv.zip to /content
 91% 88.0M/96.7M [00:00<00:00, 95.9MB/s]
100% 96.7M/96.7M [00:00<00:00, 105MB/s]
Downloading application_train.csv.zip to /content
 50% 18.0M/36.1M [00:00<00:00, 63.7MB/s]
100% 36.1M/36.1M [00:00<00:00, 120MB/s]
Downloading bureau_balance.csv.zip to /content
100% 56.8M/56.8M [00:00<00:00, 81.1MB/s]

Downloading installments_payments.csv.zip to /content
 93% 253M/271M [00:02<00:00, 130MB/s]
100% 271M/271M [00:02<00:00, 124MB/s]
Downloading application_test.csv.zip to /content
100% 5.81M/5.81M [00:00<00:00, 60.7MB/s]

In [5]:
!unzip \*.zip  && rm *.zip

Archive:  bureau_balance.csv.zip
  inflating: bureau_balance.csv

Archive:  application_test.csv.zip
  inflating: application_test.csv

Archive:  previous_application.csv.zip
  inflating: previous_application.csv

Archive:  POS_CASH_balance.csv.zip
  inflating: POS_CASH_balance.csv

Archive:  credit_card_balance.csv.zip
  inflating: credit_card_balance.csv

Archive:  application_train.csv.zip
  inflating: application_train.csv

Archive:  bureau.csv.zip
  inflating: bureau.csv

Archive:  installments_payments.csv.zip
  inflating: installments_payments.csv

8 archives were successfully processed.

# Uploading the data

In [6]:
import pandas as pd
import numpy as np

In [7]:
pos_cash_balance = pd.read_csv('/content/POS_CASH_balance.csv')
train = pd.read_csv('/content/application_train.csv')
test = pd.read_csv('/content/application_test.csv')
bureau = pd.read_csv('/content/bureau.csv')
bureau_balance = pd.read_csv('/content/bureau_balance.csv')
cc_balance = pd.read_csv('/content/credit_card_balance.csv')
ins_payment = pd.read_csv('/content/installments_payments.csv')
prev_app = pd.read_csv('/content/previous_application.csv')

In [8]:
pos_cash_balance.head()

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     1803195      182943  ...       0           0
1     1715348      367990  ...       0           0
2     1784872      397406  ...       0           0
3     1903291      269225  ...       0           0
4     2341044      334279  ...       0           0

[5 rows x 8 columns]

In [9]:
train.head()

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]

In [10]:
bureau.head()

   SK_ID_CURR  SK_ID_BUREAU  ... DAYS_CREDIT_UPDATE AMT_ANNUITY
0      215354       5714462  ...               -131         NaN
1      215354       5714463  ...                -20         NaN
2      215354       5714464  ...                -16         NaN
3      215354       5714465  ...                -16         NaN
4      215354       5714466  ...                -21         NaN

[5 rows x 17 columns]

In [11]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [12]:
cc_balance.head()

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     2562384      378907  ...       0           0
1     2582071      363914  ...       0           0
2     1740877      371185  ...       0           0
3     1389973      337855  ...       0           0
4     1891521      126868  ...       0           0

[5 rows x 23 columns]

In [13]:
ins_payment.head()

   SK_ID_PREV  SK_ID_CURR  ...  AMT_INSTALMENT  AMT_PAYMENT
0     1054186      161674  ...        6948.360     6948.360
1     1330831      151639  ...        1716.525     1716.525
2     2085231      193053  ...       25425.000    25425.000
3     2452527      199697  ...       24350.130    24350.130
4     2714724      167756  ...        2165.040     2160.585

[5 rows x 8 columns]

In [14]:
prev_app.head()

   SK_ID_PREV  SK_ID_CURR  ... DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
0     2030495      271877  ...            -37.0                        0.0
1     2802425      108129  ...         365243.0                        1.0
2     2523466      122040  ...         365243.0                        1.0
3     2819243      176158  ...           -177.0                        1.0
4     1784265      202054  ...              NaN                        NaN

[5 rows x 37 columns]

In [15]:
train.shape, test.shape, bureau.shape, bureau_balance.shape, cc_balance.shape, ins_payment.shape, prev_app.shape, pos_cash_balance.shape

((307511, 122),
 (48744, 121),
 (1716428, 17),
 (27299925, 3),
 (3840312, 23),
 (13605401, 8),
 (1670214, 37),
 (10001358, 8))

# Preprocessing bureau balance and bureau data

In [16]:
operation_mean = ['mean']
operation_sum = ['sum']
operation_count = ['count']

bb_op = {'MONTHS_BALANCE': operation_mean, 'STATUS': operation_count}

bb_grouping = bureau_balance.groupby(['SK_ID_BUREAU'])
bb_groupby = bb_grouping.agg(bb_op)
bb_groupby.head()

             MONTHS_BALANCE STATUS
                       mean  count
SK_ID_BUREAU
5001709               -48.0     97
5001710               -41.0     83
5001711                -1.5      4
5001712                -9.0     19
5001713               -10.5     22

In [17]:
bb_groupby.columns = ['BB_' + '_'.join(col).strip() for col in bb_groupby.columns.values]
bb_groupby.reset_index(inplace=True)
bb_groupby.head()

   SK_ID_BUREAU  BB_MONTHS_BALANCE_mean  BB_STATUS_count
0       5001709                   -48.0               97
1       5001710                   -41.0               83
2       5001711                    -1.5                4
3       5001712                    -9.0               19
4       5001713                   -10.5               22

In [18]:
bureau = pd.merge(bureau, bb_groupby)
bureau.head()

   SK_ID_CURR  SK_ID_BUREAU  ... BB_MONTHS_BALANCE_mean BB_STATUS_count
0      380361       5715448  ...                  -13.0              27
1      380361       5715449  ...                   -5.5              12
2      380361       5715451  ...                  -17.5              26
3      380361       5715452  ...                  -16.0              33
4      380361       5715453  ...                  -18.5              38

[5 rows x 19 columns]

In [19]:
bureau.isnull().sum() / bureau.shape[0]

SK_ID_CURR                0.000000
SK_ID_BUREAU              0.000000
CREDIT_ACTIVE             0.000000
CREDIT_CURRENCY           0.000000
DAYS_CREDIT               0.000000
CREDIT_DAY_OVERDUE        0.000000
DAYS_CREDIT_ENDDATE       0.065196
DAYS_ENDDATE_FACT         0.366066
AMT_CREDIT_MAX_OVERDUE    0.696903
CNT_CREDIT_PROLONG        0.000000
AMT_CREDIT_SUM            0.000006
AMT_CREDIT_SUM_DEBT       0.145094
AMT_CREDIT_SUM_LIMIT      0.382981
AMT_CREDIT_SUM_OVERDUE    0.000000
CREDIT_TYPE               0.000000
DAYS_CREDIT_UPDATE        0.000000
AMT_ANNUITY               0.368330
BB_MONTHS_BALANCE_mean    0.000000
BB_STATUS_count           0.000000
dtype: float64

In [20]:
bureau.describe()

          SK_ID_CURR  SK_ID_BUREAU  ...  BB_MONTHS_BALANCE_mean  BB_STATUS_count
count  774354.000000  7.743540e+05  ...           774354.000000    774354.000000
mean   278017.293464  6.023531e+06  ...              -21.175822        31.225694
std    102891.546382  5.010273e+05  ...               17.304289        23.483837
min    100001.000000  5.001710e+06  ...              -95.000000         1.000000
25%    188739.000000  5.701775e+06  ...              -30.000000        12.000000
50%    277789.500000  6.061580e+06  ...              -17.000000        25.000000
75%    367440.000000  6.430669e+06  ...               -8.000000        45.000000
max    456255.000000  6.842888e+06  ...                0.000000        97.000000

[8 rows x 16 columns]

In [21]:
bureau = bureau.drop(['AMT_CREDIT_MAX_OVERDUE'], axis=1)
bureau.fillna(0, inplace=True)

In [22]:
bureau.head()

   SK_ID_CURR  SK_ID_BUREAU  ... BB_MONTHS_BALANCE_mean BB_STATUS_count
0      380361       5715448  ...                  -13.0              27
1      380361       5715449  ...                   -5.5              12
2      380361       5715451  ...                  -17.5              26
3      380361       5715452  ...                  -16.0              33
4      380361       5715453  ...                  -18.5              38

[5 rows x 18 columns]

In [23]:
bureau.columns

Index(['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'CNT_CREDIT_PROLONG', 'AMT_CREDIT_SUM',
       'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE',
       'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE', 'AMT_ANNUITY',
       'BB_MONTHS_BALANCE_mean', 'BB_STATUS_count'],
      dtype='object')

In [24]:
bureau_op = {'CREDIT_ACTIVE': operation_count, 'CREDIT_CURRENCY': operation_count, 
             'DAYS_CREDIT': operation_mean, 'CREDIT_DAY_OVERDUE': operation_mean, 
             'DAYS_CREDIT_ENDDATE': operation_mean, 'DAYS_ENDDATE_FACT': operation_mean,
             'CNT_CREDIT_PROLONG': operation_mean, 'AMT_CREDIT_SUM': operation_mean,
             'AMT_CREDIT_SUM_DEBT': operation_mean, 'AMT_CREDIT_SUM_LIMIT': operation_mean, 
             'AMT_CREDIT_SUM_OVERDUE': operation_mean, 'CREDIT_TYPE': operation_count,
             'DAYS_CREDIT_UPDATE': operation_mean, 'AMT_ANNUITY': operation_mean,
             'BB_MONTHS_BALANCE_mean': operation_mean, 'BB_STATUS_count': operation_sum}

bureau_grouping = bureau.groupby(['SK_ID_CURR'])
bureau_groupby = bureau_grouping.agg(bureau_op)
bureau_groupby.head()

           CREDIT_ACTIVE CREDIT_CURRENCY  ... BB_MONTHS_BALANCE_mean BB_STATUS_count
                   count           count  ...                   mean             sum
SK_ID_CURR                                ...
100001                 7               7  ...             -11.785714             172
100002                 8               8  ...             -21.875000             110
100005                 3               3  ...              -3.000000              21
100010                 2               2  ...             -46.000000              72
100013                 4               4  ...             -28.250000             230

[5 rows x 16 columns]

In [25]:
bureau_groupby.columns = ['B_' + '_'.join(col).strip() for col in bureau_groupby.columns.values]
bureau_groupby.reset_index(inplace=True)
bureau_groupby.head()

   SK_ID_CURR  ...  B_BB_STATUS_count_sum
0      100001  ...                    172
1      100002  ...                    110
2      100005  ...                     21
3      100010  ...                     72
4      100013  ...                    230

[5 rows x 17 columns]

# Preprocessing behavioural data of client



1.   POS Cash Balance
2.   Credit Card Balance
3.   Installments Payments
4.   Previous Application

In [26]:
pos_cash_balance.head()

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     1803195      182943  ...       0           0
1     1715348      367990  ...       0           0
2     1784872      397406  ...       0           0
3     1903291      269225  ...       0           0
4     2341044      334279  ...       0           0

[5 rows x 8 columns]

In [27]:
pos_cash_balance_op = {'NAME_CONTRACT_STATUS': operation_count, 'MONTHS_BALANCE': operation_mean, 
                       'CNT_INSTALMENT': operation_mean, 'CNT_INSTALMENT_FUTURE': operation_mean, 
                       'SK_DPD': operation_mean, 'SK_DPD_DEF': operation_mean}

pos_cash_balance_grouping = pos_cash_balance.groupby(['SK_ID_PREV', 'SK_ID_CURR'])
pos_cash_balance_groupby = pos_cash_balance_grouping.agg(pos_cash_balance_op)
pos_cash_balance_groupby.head()

                      NAME_CONTRACT_STATUS MONTHS_BALANCE  ... SK_DPD SK_DPD_DEF
                                     count           mean  ...   mean       mean
SK_ID_PREV SK_ID_CURR                                      ...
1000001    158271                        3           -9.0  ...    0.0        0.0
1000002    101962                        5          -52.0  ...    0.0        0.0
1000003    252457                        4           -2.5  ...    0.0        0.0
1000004    260094                        8          -25.5  ...    0.0        0.0
1000005    176456                       11          -51.0  ...    0.0        0.0

[5 rows x 6 columns]

In [28]:
pos_cash_balance_groupby.columns = ['POS_' + '_'.join(col).strip() for col in pos_cash_balance_groupby.columns.values]
pos_cash_balance_groupby.reset_index(inplace=True)
pos_cash_balance_groupby.head()

   SK_ID_PREV  SK_ID_CURR  ...  POS_SK_DPD_mean  POS_SK_DPD_DEF_mean
0     1000001      158271  ...              0.0                  0.0
1     1000002      101962  ...              0.0                  0.0
2     1000003      252457  ...              0.0                  0.0
3     1000004      260094  ...              0.0                  0.0
4     1000005      176456  ...              0.0                  0.0

[5 rows x 8 columns]

In [29]:
cc_balance.isnull().sum() / cc_balance.shape[0]

SK_ID_PREV                    0.000000
SK_ID_CURR                    0.000000
MONTHS_BALANCE                0.000000
AMT_BALANCE                   0.000000
AMT_CREDIT_LIMIT_ACTUAL       0.000000
AMT_DRAWINGS_ATM_CURRENT      0.195249
AMT_DRAWINGS_CURRENT          0.000000
AMT_DRAWINGS_OTHER_CURRENT    0.195249
AMT_DRAWINGS_POS_CURRENT      0.195249
AMT_INST_MIN_REGULARITY       0.079482
AMT_PAYMENT_CURRENT           0.199981
AMT_PAYMENT_TOTAL_CURRENT     0.000000
AMT_RECEIVABLE_PRINCIPAL      0.000000
AMT_RECIVABLE                 0.000000
AMT_TOTAL_RECEIVABLE          0.000000
CNT_DRAWINGS_ATM_CURRENT      0.195249
CNT_DRAWINGS_CURRENT          0.000000
CNT_DRAWINGS_OTHER_CURRENT    0.195249
CNT_DRAWINGS_POS_CURRENT      0.195249
CNT_INSTALMENT_MATURE_CUM     0.079482
NAME_CONTRACT_STATUS          0.000000
SK_DPD                        0.000000
SK_DPD_DEF                    0.000000
dtype: float64

In [30]:
cc_balance.head()

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     2562384      378907  ...       0           0
1     2582071      363914  ...       0           0
2     1740877      371185  ...       0           0
3     1389973      337855  ...       0           0
4     1891521      126868  ...       0           0

[5 rows x 23 columns]

In [31]:
cc_balance_op = {'NAME_CONTRACT_STATUS': operation_count, 'MONTHS_BALANCE': operation_mean, 
                 'AMT_TOTAL_RECEIVABLE': operation_mean, 'CNT_DRAWINGS_CURRENT': operation_mean, 
                 'AMT_PAYMENT_TOTAL_CURRENT': operation_mean, 'AMT_CREDIT_LIMIT_ACTUAL': operation_mean,
                 'AMT_BALANCE': operation_mean, 'SK_DPD': operation_mean, 'SK_DPD_DEF': operation_mean}

cc_balance_grouping = cc_balance.groupby(['SK_ID_PREV', 'SK_ID_CURR'])
cc_balance_groupby = cc_balance_grouping.agg(cc_balance_op)
cc_balance_groupby.head()

                      NAME_CONTRACT_STATUS MONTHS_BALANCE  ... SK_DPD SK_DPD_DEF
                                     count           mean  ...   mean       mean
SK_ID_PREV SK_ID_CURR                                      ...
1000018    394447                        5           -4.0  ...    0.0        0.0
1000030    361282                        8           -4.5  ...    0.0        0.0
1000031    131335                       16           -8.5  ...    0.0        0.0
1000035    436351                        5           -4.0  ...    0.0        0.0
1000077    181153                       11           -7.0  ...    0.0        0.0

[5 rows x 9 columns]

In [32]:
cc_balance_groupby.columns = ['CC_' + '_'.join(col).strip() for col in cc_balance_groupby.columns.values]
cc_balance_groupby.reset_index(inplace=True)
cc_balance_groupby.head()

   SK_ID_PREV  SK_ID_CURR  ...  CC_SK_DPD_mean  CC_SK_DPD_DEF_mean
0     1000018      394447  ...             0.0                 0.0
1     1000030      361282  ...             0.0                 0.0
2     1000031      131335  ...             0.0                 0.0
3     1000035      436351  ...             0.0                 0.0
4     1000077      181153  ...             0.0                 0.0

[5 rows x 11 columns]

In [33]:
ins_payment.head()

   SK_ID_PREV  SK_ID_CURR  ...  AMT_INSTALMENT  AMT_PAYMENT
0     1054186      161674  ...        6948.360     6948.360
1     1330831      151639  ...        1716.525     1716.525
2     2085231      193053  ...       25425.000    25425.000
3     2452527      199697  ...       24350.130    24350.130
4     2714724      167756  ...        2165.040     2160.585

[5 rows x 8 columns]

In [34]:
ins_payment_op = {'NUM_INSTALMENT_VERSION': operation_mean, 
                 'NUM_INSTALMENT_NUMBER': operation_mean, 'DAYS_INSTALMENT': operation_mean, 
                 'DAYS_ENTRY_PAYMENT': operation_mean, 'AMT_INSTALMENT': operation_mean,
                 'AMT_PAYMENT': operation_mean}

ins_payment_grouping = ins_payment.groupby(['SK_ID_PREV', 'SK_ID_CURR'])
ins_payment_groupby = ins_payment_grouping.agg(ins_payment_op)
ins_payment_groupby.head()

                      NUM_INSTALMENT_VERSION  ...   AMT_PAYMENT
                                        mean  ...          mean
SK_ID_PREV SK_ID_CURR                         ...
1000001    158271                   1.500000  ...  34221.712500
1000002    101962                   1.250000  ...   9308.891250
1000003    252457                   1.000000  ...   4951.350000
1000004    260094                   1.142857  ...   4789.022143
1000005    176456                   1.000000  ...  13365.609545

[5 rows x 6 columns]

In [35]:
ins_payment_groupby.columns = ['IP_' + '_'.join(col).strip() for col in ins_payment_groupby.columns.values]
ins_payment_groupby.reset_index(inplace=True)
ins_payment_groupby.head()

   SK_ID_PREV  SK_ID_CURR  ...  IP_AMT_INSTALMENT_mean  IP_AMT_PAYMENT_mean
0     1000001      158271  ...            34221.712500         34221.712500
1     1000002      101962  ...             9308.891250          9308.891250
2     1000003      252457  ...             4951.350000          4951.350000
3     1000004      260094  ...             4789.022143          4789.022143
4     1000005      176456  ...            14703.210000         13365.609545

[5 rows x 8 columns]

In [36]:
prev_app.shape

(1670214, 37)

In [37]:
prev_app = pd.merge(prev_app, ins_payment_groupby, on=['SK_ID_CURR', 'SK_ID_PREV'], how='left')
prev_app = pd.merge(prev_app, cc_balance_groupby, on=['SK_ID_CURR', 'SK_ID_PREV'], how='left')
prev_app = pd.merge(prev_app, pos_cash_balance_groupby, on=['SK_ID_CURR', 'SK_ID_PREV'], how='left')
print(prev_app.shape)

(1670214, 58)

In [38]:
prev_app.head()

   SK_ID_PREV  SK_ID_CURR  ... POS_SK_DPD_mean  POS_SK_DPD_DEF_mean
0     2030495      271877  ...             0.0                  0.0
1     2802425      108129  ...             0.0                  0.0
2     2523466      122040  ...             0.0                  0.0
3     2819243      176158  ...             0.0                  0.0
4     1784265      202054  ...             NaN                  NaN

[5 rows x 58 columns]

In [39]:
prev_app.dtypes

SK_ID_PREV                             int64
SK_ID_CURR                             int64
NAME_CONTRACT_TYPE                    object
AMT_ANNUITY                          float64
AMT_APPLICATION                      float64
AMT_CREDIT                           float64
AMT_DOWN_PAYMENT                     float64
AMT_GOODS_PRICE                      float64
WEEKDAY_APPR_PROCESS_START            object
HOUR_APPR_PROCESS_START                int64
FLAG_LAST_APPL_PER_CONTRACT           object
NFLAG_LAST_APPL_IN_DAY                 int64
RATE_DOWN_PAYMENT                    float64
RATE_INTEREST_PRIMARY                float64
RATE_INTEREST_PRIVILEGED             float64
NAME_CASH_LOAN_PURPOSE                object
NAME_CONTRACT_STATUS                  object
DAYS_DECISION                          int64
NAME_PAYMENT_TYPE                     object
CODE_REJECT_REASON                    object
NAME_TYPE_SUITE                       object
NAME_CLIENT_TYPE                      object
NAME_GOODS_CATEGORY                   object
NAME_PORTFOLIO                        object
NAME_PRODUCT_TYPE                     object
CHANNEL_TYPE                          object
SELLERPLACE_AREA                       int64
NAME_SELLER_INDUSTRY                  object
CNT_PAYMENT                          float64
NAME_YIELD_GROUP                      object
PRODUCT_COMBINATION                   object
DAYS_FIRST_DRAWING                   float64
DAYS_FIRST_DUE                       float64
DAYS_LAST_DUE_1ST_VERSION            float64
DAYS_LAST_DUE                        float64
DAYS_TERMINATION                     float64
NFLAG_INSURED_ON_APPROVAL            float64
IP_NUM_INSTALMENT_VERSION_mean       float64
IP_NUM_INSTALMENT_NUMBER_mean        float64
IP_DAYS_INSTALMENT_mean              float64
IP_DAYS_ENTRY_PAYMENT_mean           float64
IP_AMT_INSTALMENT_mean               float64
IP_AMT_PAYMENT_mean                  float64
CC_NAME_CONTRACT_STATUS_count        float64
CC_MONTHS_BALANCE_mean               float64
CC_AMT_TOTAL_RECEIVABLE_mean         float64
CC_CNT_DRAWINGS_CURRENT_mean         float64
CC_AMT_PAYMENT_TOTAL_CURRENT_mean    float64
CC_AMT_CREDIT_LIMIT_ACTUAL_mean      float64
CC_AMT_BALANCE_mean                  float64
CC_SK_DPD_mean                       float64
CC_SK_DPD_DEF_mean                   float64
POS_NAME_CONTRACT_STATUS_count       float64
POS_MONTHS_BALANCE_mean              float64
POS_CNT_INSTALMENT_mean              float64
POS_CNT_INSTALMENT_FUTURE_mean       float64
POS_SK_DPD_mean                      float64
POS_SK_DPD_DEF_mean                  float64
dtype: object

In [40]:
pos_in_prevapp = prev_app[prev_app.columns[pd.Series(prev_app.columns).str.startswith('POS_')]]
floats = pos_in_prevapp.select_dtypes('float64').columns
prev_app[floats] = prev_app[floats].fillna(0)

In [41]:
ip_in_prevapp = prev_app[prev_app.columns[pd.Series(prev_app.columns).str.startswith('IP_')]]
floats = ip_in_prevapp.select_dtypes('float64').columns
prev_app[floats] = prev_app[floats].fillna(0)

In [42]:
cc_in_prevapp = prev_app[prev_app.columns[pd.Series(prev_app.columns).str.startswith('CC_')]]
floats = cc_in_prevapp.select_dtypes('float64').columns
prev_app[floats] = prev_app[floats].fillna(0)

In [43]:
objects = prev_app.select_dtypes('object').columns
prev_app[objects] = prev_app[objects].fillna('Unknown')
floats = prev_app.select_dtypes('float64').columns
prev_app[floats] = prev_app[floats].fillna(0)
ints = prev_app.select_dtypes('int64').columns
prev_app[ints] = prev_app[ints].fillna(0)

In [44]:
prev_app.head()

   SK_ID_PREV  SK_ID_CURR  ... POS_SK_DPD_mean  POS_SK_DPD_DEF_mean
0     2030495      271877  ...             0.0                  0.0
1     2802425      108129  ...             0.0                  0.0
2     2523466      122040  ...             0.0                  0.0
3     2819243      176158  ...             0.0                  0.0
4     1784265      202054  ...             0.0                  0.0

[5 rows x 58 columns]

In [45]:
prev_app_op = {'AMT_ANNUITY': operation_mean,
               'AMT_APPLICATION': operation_mean,'AMT_CREDIT': operation_mean,
               'AMT_DOWN_PAYMENT': operation_mean,'AMT_GOODS_PRICE': operation_mean,
               'HOUR_APPR_PROCESS_START': operation_mean, 'NFLAG_LAST_APPL_IN_DAY': operation_mean,
               'RATE_DOWN_PAYMENT': operation_mean,'RATE_INTEREST_PRIMARY': operation_mean,
               'RATE_INTEREST_PRIVILEGED': operation_mean,
               'DAYS_DECISION': operation_mean,'SELLERPLACE_AREA': operation_mean,
               'CNT_PAYMENT': operation_mean,
               'DAYS_FIRST_DRAWING': operation_mean,'DAYS_FIRST_DUE': operation_mean,
               'DAYS_LAST_DUE_1ST_VERSION': operation_mean,'DAYS_LAST_DUE': operation_mean,
               'DAYS_TERMINATION': operation_mean,'NFLAG_INSURED_ON_APPROVAL': operation_mean,
               'IP_NUM_INSTALMENT_VERSION_mean': operation_mean,'IP_NUM_INSTALMENT_NUMBER_mean': operation_mean,
               'IP_DAYS_INSTALMENT_mean': operation_mean,'IP_DAYS_ENTRY_PAYMENT_mean': operation_mean,
               'IP_AMT_INSTALMENT_mean': operation_mean,'IP_AMT_PAYMENT_mean': operation_mean,'CC_MONTHS_BALANCE_mean': operation_mean,
               'CC_AMT_TOTAL_RECEIVABLE_mean': operation_mean,'CC_CNT_DRAWINGS_CURRENT_mean': operation_mean,
               'CC_AMT_PAYMENT_TOTAL_CURRENT_mean': operation_mean,'CC_AMT_CREDIT_LIMIT_ACTUAL_mean': operation_mean,
               'CC_AMT_BALANCE_mean': operation_mean,'CC_SK_DPD_mean': operation_mean,
               'CC_SK_DPD_DEF_mean': operation_mean,
               'POS_MONTHS_BALANCE_mean': operation_mean,'POS_CNT_INSTALMENT_mean': operation_mean,
               'POS_CNT_INSTALMENT_FUTURE_mean': operation_mean,'POS_SK_DPD_mean': operation_mean,
               'POS_SK_DPD_DEF_mean': operation_mean, 'NAME_CONTRACT_TYPE': operation_count,
               'WEEKDAY_APPR_PROCESS_START': operation_count,
               'FLAG_LAST_APPL_PER_CONTRACT': operation_count,'NAME_CASH_LOAN_PURPOSE': operation_count,
               'NAME_CONTRACT_STATUS': operation_count,'NAME_PAYMENT_TYPE': operation_count,
               'NAME_PAYMENT_TYPE': operation_count,
               'CODE_REJECT_REASON': operation_count,'NAME_TYPE_SUITE': operation_count,
               'NAME_CLIENT_TYPE': operation_count,'NAME_GOODS_CATEGORY': operation_count,
               'NAME_PORTFOLIO': operation_count,'NAME_PRODUCT_TYPE': operation_count,
               'CHANNEL_TYPE': operation_count,
               'NAME_SELLER_INDUSTRY': operation_count,
               'NAME_YIELD_GROUP': operation_count,
               'CC_NAME_CONTRACT_STATUS_count': operation_sum, 'POS_NAME_CONTRACT_STATUS_count': operation_sum}

prev_app_grouping = prev_app.groupby(['SK_ID_CURR'])
prev_app_groupby = prev_app_grouping.agg(prev_app_op)
prev_app_groupby.head()

           AMT_ANNUITY  ... POS_NAME_CONTRACT_STATUS_count
                  mean  ...                            sum
SK_ID_CURR              ...
100001        3951.000  ...                            5.0
100002        9251.775  ...                           19.0
100003       56553.990  ...                           28.0
100004        5357.250  ...                            4.0
100005        2406.600  ...                           11.0

[5 rows x 55 columns]

In [46]:
prev_app_groupby.columns = ['PA_' + '_'.join(col).strip() for col in prev_app_groupby.columns.values]
prev_app_groupby.reset_index(inplace=True)
prev_app_groupby.head()

   SK_ID_CURR  ...  PA_POS_NAME_CONTRACT_STATUS_count_sum
0      100001  ...                                    5.0
1      100002  ...                                   19.0
2      100003  ...                                   28.0
3      100004  ...                                    4.0
4      100005  ...                                   11.0

[5 rows x 56 columns]

In [47]:
count_var = prev_app_groupby[prev_app_groupby.columns[pd.Series(prev_app_groupby.columns).str.contains('_count')]].columns
prev_app_groupby[count_var] = prev_app_groupby[count_var].astype('int64')

In [48]:
prev_app_groupby.head()

   SK_ID_CURR  ...  PA_POS_NAME_CONTRACT_STATUS_count_sum
0      100001  ...                                      5
1      100002  ...                                     19
2      100003  ...                                     28
3      100004  ...                                      4
4      100005  ...                                     11

[5 rows x 56 columns]

In [49]:
prev_app_groupby.isnull().sum()

SK_ID_CURR                                   0
PA_AMT_ANNUITY_mean                          0
PA_AMT_APPLICATION_mean                      0
PA_AMT_CREDIT_mean                           0
PA_AMT_DOWN_PAYMENT_mean                     0
PA_AMT_GOODS_PRICE_mean                      0
PA_HOUR_APPR_PROCESS_START_mean              0
PA_NFLAG_LAST_APPL_IN_DAY_mean               0
PA_RATE_DOWN_PAYMENT_mean                    0
PA_RATE_INTEREST_PRIMARY_mean                0
PA_RATE_INTEREST_PRIVILEGED_mean             0
PA_DAYS_DECISION_mean                        0
PA_SELLERPLACE_AREA_mean                     0
PA_CNT_PAYMENT_mean                          0
PA_DAYS_FIRST_DRAWING_mean                   0
PA_DAYS_FIRST_DUE_mean                       0
PA_DAYS_LAST_DUE_1ST_VERSION_mean            0
PA_DAYS_LAST_DUE_mean                        0
PA_DAYS_TERMINATION_mean                     0
PA_NFLAG_INSURED_ON_APPROVAL_mean            0
PA_IP_NUM_INSTALMENT_VERSION_mean_mean       0
PA_IP_NUM_INSTALMENT_NUMBER_mean_mean        0
PA_IP_DAYS_INSTALMENT_mean_mean              0
PA_IP_DAYS_ENTRY_PAYMENT_mean_mean           0
PA_IP_AMT_INSTALMENT_mean_mean               0
PA_IP_AMT_PAYMENT_mean_mean                  0
PA_CC_MONTHS_BALANCE_mean_mean               0
PA_CC_AMT_TOTAL_RECEIVABLE_mean_mean         0
PA_CC_CNT_DRAWINGS_CURRENT_mean_mean         0
PA_CC_AMT_PAYMENT_TOTAL_CURRENT_mean_mean    0
PA_CC_AMT_CREDIT_LIMIT_ACTUAL_mean_mean      0
PA_CC_AMT_BALANCE_mean_mean                  0
PA_CC_SK_DPD_mean_mean                       0
PA_CC_SK_DPD_DEF_mean_mean                   0
PA_POS_MONTHS_BALANCE_mean_mean              0
PA_POS_CNT_INSTALMENT_mean_mean              0
PA_POS_CNT_INSTALMENT_FUTURE_mean_mean       0
PA_POS_SK_DPD_mean_mean                      0
PA_POS_SK_DPD_DEF_mean_mean                  0
PA_NAME_CONTRACT_TYPE_count                  0
PA_WEEKDAY_APPR_PROCESS_START_count          0
PA_FLAG_LAST_APPL_PER_CONTRACT_count         0
PA_NAME_CASH_LOAN_PURPOSE_count              0
PA_NAME_CONTRACT_STATUS_count                0
PA_NAME_PAYMENT_TYPE_count                   0
PA_CODE_REJECT_REASON_count                  0
PA_NAME_TYPE_SUITE_count                     0
PA_NAME_CLIENT_TYPE_count                    0
PA_NAME_GOODS_CATEGORY_count                 0
PA_NAME_PORTFOLIO_count                      0
PA_NAME_PRODUCT_TYPE_count                   0
PA_CHANNEL_TYPE_count                        0
PA_NAME_SELLER_INDUSTRY_count                0
PA_NAME_YIELD_GROUP_count                    0
PA_CC_NAME_CONTRACT_STATUS_count_sum         0
PA_POS_NAME_CONTRACT_STATUS_count_sum        0
dtype: int64

In [50]:
bureau_groupby.isnull().sum()

SK_ID_CURR                       0
B_CREDIT_ACTIVE_count            0
B_CREDIT_CURRENCY_count          0
B_DAYS_CREDIT_mean               0
B_CREDIT_DAY_OVERDUE_mean        0
B_DAYS_CREDIT_ENDDATE_mean       0
B_DAYS_ENDDATE_FACT_mean         0
B_CNT_CREDIT_PROLONG_mean        0
B_AMT_CREDIT_SUM_mean            0
B_AMT_CREDIT_SUM_DEBT_mean       0
B_AMT_CREDIT_SUM_LIMIT_mean      0
B_AMT_CREDIT_SUM_OVERDUE_mean    0
B_CREDIT_TYPE_count              0
B_DAYS_CREDIT_UPDATE_mean        0
B_AMT_ANNUITY_mean               0
B_BB_MONTHS_BALANCE_mean_mean    0
B_BB_STATUS_count_sum            0
dtype: int64

In [51]:
combine = train.append(test)
combine.shape, train.shape, test.shape

((356255, 122), (307511, 122), (48744, 121))

# Merging all the data into train and test set

In [52]:
combine = pd.merge(combine, bureau_groupby, how='left', on=['SK_ID_CURR'])
combine = pd.merge(combine, prev_app_groupby, how='left', on=['SK_ID_CURR'])
combine.shape, prev_app_groupby.shape, bureau_groupby.shape

((356255, 193), (338857, 56), (134542, 17))

In [53]:
print(len(combine.select_dtypes('object').columns))
objects = combine.select_dtypes('object').columns
combine[objects] = combine[objects].fillna('Unknown')
combine.select_dtypes('object').columns

16

Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
       'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'],
      dtype='object')

In [54]:
print(len(combine.select_dtypes('float64').columns))
float64 = combine.select_dtypes('float64').columns[1:]
combine[float64] = combine[float64].fillna(combine[float64].mean())
combine.select_dtypes('float64').columns

137

Index(['TARGET', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY',
       'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_REGISTRATION',
       'OWN_CAR_AGE', 'CNT_FAM_MEMBERS', 'EXT_SOURCE_1',
       ...
       'PA_NAME_TYPE_SUITE_count', 'PA_NAME_CLIENT_TYPE_count',
       'PA_NAME_GOODS_CATEGORY_count', 'PA_NAME_PORTFOLIO_count',
       'PA_NAME_PRODUCT_TYPE_count', 'PA_CHANNEL_TYPE_count',
       'PA_NAME_SELLER_INDUSTRY_count', 'PA_NAME_YIELD_GROUP_count',
       'PA_CC_NAME_CONTRACT_STATUS_count_sum',
       'PA_POS_NAME_CONTRACT_STATUS_count_sum'],
      dtype='object', length=137)

In [55]:
print(len(combine.select_dtypes('int64').columns))
int64 = combine.select_dtypes('int64').columns
combine[int64] = combine[int64].fillna(combine[int64].mean())
combine.select_dtypes('int64').columns

40

Index(['SK_ID_CURR', 'CNT_CHILDREN', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_ID_PUBLISH', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE',
       'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_2',
       'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
       'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
       'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
       'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21'],
      dtype='object')

In [56]:
count_var = combine[combine.columns[pd.Series(combine.columns).str.contains('_count')]].columns
combine[count_var] = combine[count_var].astype('int64')

In [57]:
combine.isnull().sum().sum(), combine.shape

(48744, (356255, 193))

In [58]:
combine = pd.get_dummies(combine)
combine.shape

(356255, 323)

In [59]:
X = combine[combine['TARGET'].isnull()!=True].drop(['TARGET', 'SK_ID_CURR'], axis=1)
y = combine[combine['TARGET'].isnull()!=True]['TARGET'].reset_index(drop=True)

X_test = combine[combine['TARGET'].isnull()==True].drop(['TARGET','SK_ID_CURR'], axis=1)

X.shape, y.shape, X_test.shape

((307511, 321), (307511,), (48744, 321))

# Data Modelling

In [60]:
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.metrics import confusion_matrix, recall_score, accuracy_score, precision_score, roc_auc_score, log_loss
from sklearn.ensemble import RandomForestClassifier
from lightgbm import LGBMClassifier

In [61]:
err_as = []
err_rs = []
err_ps = []
err_roc = []
err_ll = []

y_pred_tot_lgm = []
features = X.columns
feature_importance_df = pd.DataFrame()

fold = StratifiedKFold(n_splits=5)
i = 1
for train_index, test_index in fold.split(X, y):
    x_train, x_val = X.iloc[train_index], X.iloc[test_index]
    y_train, y_val = y[train_index], y[test_index]
    m = LGBMClassifier(max_depth=5,
                       learning_rate=0.05,
                       n_estimators=5000,
                       min_child_weight=0.01,
                       colsample_bytree=0.5,
                       random_state=1994)
    m.fit(x_train, y_train,
          eval_set=[(x_train,y_train),(x_val, y_val)],
          early_stopping_rounds=200,
          eval_metric='auc',
          verbose=200)
    pred_y = m.predict(x_val)
    prob_pred = m.predict_proba(x_val)[:,1]
    
    fold_importance_df = pd.DataFrame()
    fold_importance_df["Feature"] = features
    fold_importance_df["importance"] = m.feature_importances_
    fold_importance_df["fold"] = i + 1
    feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
    
    print("Fold ",i, " Accuracy: ",(accuracy_score(pred_y, y_val)))
    print("Fold ",i, " Recall: ",(recall_score(pred_y, y_val)))
    print("Fold ",i, " Precision: ",(precision_score(pred_y, y_val)))
    print("Fold ",i, " ROC AUC: ",(roc_auc_score(y_val, prob_pred)))
    print("Fold ",i, " Logloss: ",(log_loss(y_val, prob_pred)))
    print(confusion_matrix(pred_y, y_val))

    err_as.append(accuracy_score(pred_y, y_val))
    err_rs.append(recall_score(pred_y, y_val))
    err_ps.append(precision_score(pred_y, y_val))
    err_roc.append(roc_auc_score(y_val, prob_pred))
    err_ll.append(log_loss(y_val, prob_pred))

    pred_test = m.predict_proba(X_test)[:,1]
    i = i + 1
    y_pred_tot_lgm.append(pred_test)

Training until validation scores don't improve for 200 rounds.
[200]	training's auc: 0.804345	training's binary_logloss: 0.232152	valid_1's auc: 0.771249	valid_1's binary_logloss: 0.242311
[400]	training's auc: 0.829078	training's binary_logloss: 0.222881	valid_1's auc: 0.775528	valid_1's binary_logloss: 0.240686
[600]	training's auc: 0.847842	training's binary_logloss: 0.215718	valid_1's auc: 0.776193	valid_1's binary_logloss: 0.240325
[800]	training's auc: 0.864129	training's binary_logloss: 0.209007	valid_1's auc: 0.776821	valid_1's binary_logloss: 0.240074
[1000]	training's auc: 0.87733	training's binary_logloss: 0.203055	valid_1's auc: 0.777003	valid_1's binary_logloss: 0.240048
[1200]	training's auc: 0.889479	training's binary_logloss: 0.197253	valid_1's auc: 0.776437	valid_1's binary_logloss: 0.240269
Early stopping, best iteration is:
[1012]	training's auc: 0.878071	training's binary_logloss: 0.202711	valid_1's auc: 0.777035	valid_1's binary_logloss: 0.240027
Fold  1  Accuracy:  0.919711233598361
Fold  1  Recall:  0.5348837209302325
Fold  1  Precision:  0.04169184290030212
Fold  1  ROC AUC:  0.7770351140640396
Fold  1  Logloss:  0.24002671258920705
[[56358  4758]
 [  180   207]]
Training until validation scores don't improve for 200 rounds.
[200]	training's auc: 0.804636	training's binary_logloss: 0.232057	valid_1's auc: 0.770546	valid_1's binary_logloss: 0.242635
[400]	training's auc: 0.828961	training's binary_logloss: 0.222891	valid_1's auc: 0.775011	valid_1's binary_logloss: 0.241006
[600]	training's auc: 0.847898	training's binary_logloss: 0.215513	valid_1's auc: 0.776998	valid_1's binary_logloss: 0.240288
[800]	training's auc: 0.863337	training's binary_logloss: 0.209166	valid_1's auc: 0.777585	valid_1's binary_logloss: 0.240079
[1000]	training's auc: 0.876843	training's binary_logloss: 0.203064	valid_1's auc: 0.777958	valid_1's binary_logloss: 0.239964
Early stopping, best iteration is:
[962]	training's auc: 0.874449	training's binary_logloss: 0.204178	valid_1's auc: 0.778036	valid_1's binary_logloss: 0.239916
Fold  2  Accuracy:  0.9201489382459107
Fold  2  Recall:  0.572972972972973
Fold  2  Precision:  0.042698892245720044
Fold  2  ROC AUC:  0.7780364527389053
Fold  2  Logloss:  0.2399162976605491
[[56379  4753]
 [  158   212]]
Training until validation scores don't improve for 200 rounds.
[200]	training's auc: 0.806662	training's binary_logloss: 0.231386	valid_1's auc: 0.763637	valid_1's binary_logloss: 0.244553
[400]	training's auc: 0.830752	training's binary_logloss: 0.222283	valid_1's auc: 0.768202	valid_1's binary_logloss: 0.243018
[600]	training's auc: 0.848925	training's binary_logloss: 0.215159	valid_1's auc: 0.769369	valid_1's binary_logloss: 0.242635
[800]	training's auc: 0.865185	training's binary_logloss: 0.208358	valid_1's auc: 0.769633	valid_1's binary_logloss: 0.242607
Early stopping, best iteration is:
[673]	training's auc: 0.855049	training's binary_logloss: 0.212599	valid_1's auc: 0.769622	valid_1's binary_logloss: 0.242566
Fold  3  Accuracy:  0.9196611492309194
Fold  3  Recall:  0.5397350993377483
Fold  3  Precision:  0.03282980866062437
Fold  3  ROC AUC:  0.7696216832827049
Fold  3  Logloss:  0.24256562767172907
[[56398  4802]
 [  139   163]]
Training until validation scores don't improve for 200 rounds.
[200]	training's auc: 0.805678	training's binary_logloss: 0.231685	valid_1's auc: 0.769393	valid_1's binary_logloss: 0.242859
[400]	training's auc: 0.830113	training's binary_logloss: 0.222439	valid_1's auc: 0.773078	valid_1's binary_logloss: 0.24144
[600]	training's auc: 0.849125	training's binary_logloss: 0.215137	valid_1's auc: 0.774042	valid_1's binary_logloss: 0.241081
[800]	training's auc: 0.865397	training's binary_logloss: 0.208354	valid_1's auc: 0.773744	valid_1's binary_logloss: 0.241171
Early stopping, best iteration is:
[602]	training's auc: 0.849388	training's binary_logloss: 0.215045	valid_1's auc: 0.77408	valid_1's binary_logloss: 0.241071
Fold  4  Accuracy:  0.919905043738415
Fold  4  Recall:  0.5571847507331378
Fold  4  Precision:  0.038267875125881166
Fold  4  ROC AUC:  0.7740804126506573
Fold  4  Logloss:  0.24107091924860502
[[56386  4775]
 [  151   190]]
Training until validation scores don't improve for 200 rounds.
[200]	training's auc: 0.803987	training's binary_logloss: 0.232093	valid_1's auc: 0.772739	valid_1's binary_logloss: 0.24241
[400]	training's auc: 0.828823	training's binary_logloss: 0.222862	valid_1's auc: 0.776588	valid_1's binary_logloss: 0.240755
[600]	training's auc: 0.847872	training's binary_logloss: 0.215524	valid_1's auc: 0.777698	valid_1's binary_logloss: 0.240243
[800]	training's auc: 0.864323	training's binary_logloss: 0.208637	valid_1's auc: 0.77774	valid_1's binary_logloss: 0.240185
[1000]	training's auc: 0.877787	training's binary_logloss: 0.202725	valid_1's auc: 0.777887	valid_1's binary_logloss: 0.240062
Early stopping, best iteration is:
[920]	training's auc: 0.872652	training's binary_logloss: 0.205039	valid_1's auc: 0.777995	valid_1's binary_logloss: 0.24007
Fold  5  Accuracy:  0.9199863419075802
Fold  5  Recall:  0.5654761904761905
Fold  5  Precision:  0.038267875125881166
Fold  5  ROC AUC:  0.7779947970868688
Fold  5  Logloss:  0.24006953443665763
[[56391  4775]
 [  146   190]]

In [62]:
print('Mean Accuracy Score on CV-5: ', np.mean(err_as, 0))
print('Mean Precision Score on CV-5: ', np.mean(err_ps, 0))
print('Mean Recall Score on CV-5: ', np.mean(err_rs, 0))
print('Mean ROC AUC Score on CV-5: ', np.mean(err_roc, 0))
print('Mean Logloss Score on CV-5: ', np.mean(err_ll, 0))

Mean Accuracy Score on CV-5:  0.9198825413442373
Mean Precision Score on CV-5:  0.038751258811681774
Mean Recall Score on CV-5:  0.5540505468900564
Mean ROC AUC Score on CV-5:  0.7753536919646352
Mean Logloss Score on CV-5:  0.2407298183213496

# Feature Engineering

In [63]:
all_feat = feature_importance_df[["Feature",
                                  "importance"]].groupby("Feature").mean().sort_values(by="importance", 
                                                                                           ascending=False)
all_feat.reset_index(inplace=True)
important_feat = list(all_feat['Feature'])
all_feat.head(20)

                                   Feature  importance
0                             EXT_SOURCE_3       658.0
1                             EXT_SOURCE_1       599.0
2                             EXT_SOURCE_2       563.4
3                               DAYS_BIRTH       518.6
4                               AMT_CREDIT       500.6
5                              AMT_ANNUITY       474.6
6                          DAYS_ID_PUBLISH       412.4
7   PA_POS_CNT_INSTALMENT_FUTURE_mean_mean       403.4
8                          AMT_GOODS_PRICE       387.6
9                        DAYS_REGISTRATION       382.6
10                           DAYS_EMPLOYED       375.4
11                  DAYS_LAST_PHONE_CHANGE       351.6
12   PA_POS_NAME_CONTRACT_STATUS_count_sum       351.0
13                PA_SELLERPLACE_AREA_mean       338.6
14                     PA_CNT_PAYMENT_mean       325.6
15   PA_IP_NUM_INSTALMENT_NUMBER_mean_mean       324.4
16             PA_IP_AMT_PAYMENT_mean_mean       321.2
17         PA_HOUR_APPR_PROCESS_START_mean       294.6
18  PA_IP_NUM_INSTALMENT_VERSION_mean_mean       290.6
19              REGION_POPULATION_RELATIVE       285.6

In [64]:
df = X[important_feat]
corr_matrix = df.corr().abs()

upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

high_cor = [column for column in upper.columns if any(upper[column] > 0.98)]
print(len(high_cor))
print(high_cor)

48
['AMT_GOODS_PRICE', 'PA_IP_AMT_INSTALMENT_mean_mean', 'PA_CC_AMT_TOTAL_RECEIVABLE_mean_mean', 'PA_IP_DAYS_ENTRY_PAYMENT_mean_mean', 'PA_AMT_GOODS_PRICE_mean', 'YEARS_BEGINEXPLUATATION_MEDI', 'OBS_60_CNT_SOCIAL_CIRCLE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'LANDAREA_MEDI', 'LIVINGAREA_MEDI', 'COMMONAREA_MEDI', 'YEARS_BUILD_MODE', 'CODE_GENDER_M', 'NONLIVINGAREA_MEDI', 'PA_WEEKDAY_APPR_PROCESS_START_count', 'LIVINGAPARTMENTS_MEDI', 'B_CREDIT_CURRENCY_count', 'YEARS_BUILD_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'PA_FLAG_LAST_APPL_PER_CONTRACT_count', 'FLOORSMIN_MODE', 'ENTRANCES_MEDI', 'FLAG_OWN_CAR_Y', 'FLOORSMAX_MEDI', 'FLOORSMAX_MODE', 'FLOORSMIN_MEDI', 'NAME_CONTRACT_TYPE_Revolving loans', 'PA_NAME_CASH_LOAN_PURPOSE_count', 'B_CREDIT_TYPE_count', 'ELEVATORS_MEDI', 'FLAG_OWN_REALTY_Y', 'PA_NAME_CONTRACT_STATUS_count', 'FLAG_EMP_PHONE', 'NAME_INCOME_TYPE_Pensioner', 'EMERGENCYSTATE_MODE_Unknown', 'PA_NAME_PAYMENT_TYPE_count', 'HOUSETYPE_MODE_Unknown', 'PA_CODE_REJECT_REASON_count', 'ORGANIZATION_TYPE_XNA', 'PA_NAME_PORTFOLIO_count', 'PA_NAME_GOODS_CATEGORY_count', 'PA_NAME_CLIENT_TYPE_count', 'PA_NAME_TYPE_SUITE_count', 'PA_CHANNEL_TYPE_count', 'PA_NAME_SELLER_INDUSTRY_count', 'PA_NAME_PRODUCT_TYPE_count', 'PA_NAME_YIELD_GROUP_count']

In [65]:
features = [i for i in important_feat if i not in high_cor]
print(len(features))
print(features)

273
['EXT_SOURCE_3', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'DAYS_BIRTH', 'AMT_CREDIT', 'AMT_ANNUITY', 'DAYS_ID_PUBLISH', 'PA_POS_CNT_INSTALMENT_FUTURE_mean_mean', 'DAYS_REGISTRATION', 'DAYS_EMPLOYED', 'DAYS_LAST_PHONE_CHANGE', 'PA_POS_NAME_CONTRACT_STATUS_count_sum', 'PA_SELLERPLACE_AREA_mean', 'PA_CNT_PAYMENT_mean', 'PA_IP_NUM_INSTALMENT_NUMBER_mean_mean', 'PA_IP_AMT_PAYMENT_mean_mean', 'PA_HOUR_APPR_PROCESS_START_mean', 'PA_IP_NUM_INSTALMENT_VERSION_mean_mean', 'REGION_POPULATION_RELATIVE', 'AMT_INCOME_TOTAL', 'PA_AMT_ANNUITY_mean', 'PA_DAYS_DECISION_mean', 'PA_AMT_DOWN_PAYMENT_mean', 'PA_AMT_APPLICATION_mean', 'PA_POS_SK_DPD_DEF_mean_mean', 'PA_DAYS_FIRST_DUE_mean', 'B_AMT_CREDIT_SUM_mean', 'PA_RATE_DOWN_PAYMENT_mean', 'PA_DAYS_TERMINATION_mean', 'B_AMT_CREDIT_SUM_DEBT_mean', 'PA_AMT_CREDIT_mean', 'PA_DAYS_LAST_DUE_1ST_VERSION_mean', 'PA_CC_CNT_DRAWINGS_CURRENT_mean_mean', 'PA_POS_CNT_INSTALMENT_mean_mean', 'PA_DAYS_FIRST_DRAWING_mean', 'PA_POS_SK_DPD_mean_mean', 'OWN_CAR_AGE', 'PA_POS_MONTHS_BALANCE_mean_mean', 'B_DAYS_CREDIT_ENDDATE_mean', 'PA_DAYS_LAST_DUE_mean', 'B_BB_STATUS_count_sum', 'HOUR_APPR_PROCESS_START', 'PA_IP_DAYS_INSTALMENT_mean_mean', 'PA_CC_AMT_BALANCE_mean_mean', 'PA_NFLAG_INSURED_ON_APPROVAL_mean', 'B_DAYS_CREDIT_UPDATE_mean', 'PA_CC_AMT_CREDIT_LIMIT_ACTUAL_mean_mean', 'PA_NAME_CONTRACT_TYPE_count', 'B_DAYS_CREDIT_mean', 'B_AMT_ANNUITY_mean', 'TOTALAREA_MODE', 'B_BB_MONTHS_BALANCE_mean_mean', 'B_AMT_CREDIT_SUM_LIMIT_mean', 'LANDAREA_AVG', 'PA_CC_NAME_CONTRACT_STATUS_count_sum', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'B_DAYS_ENDDATE_FACT_mean', 'PA_CC_MONTHS_BALANCE_mean_mean', 'YEARS_BEGINEXPLUATATION_AVG', 'PA_CC_AMT_PAYMENT_TOTAL_CURRENT_mean_mean', 'YEARS_BEGINEXPLUATATION_MODE', 'BASEMENTAREA_AVG', 'B_CREDIT_ACTIVE_count', 'LIVINGAREA_MODE', 'COMMONAREA_AVG', 'LANDAREA_MODE', 'COMMONAREA_MODE', 'LIVINGAREA_AVG', 'OBS_30_CNT_SOCIAL_CIRCLE', 'BASEMENTAREA_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_AVG', 'YEARS_BUILD_AVG', 'APARTMENTS_MODE', 'NONLIVINGAREA_AVG', 'PA_CC_SK_DPD_DEF_mean_mean', 'CODE_GENDER_F', 'AMT_REQ_CREDIT_BUREAU_QRT', 'NAME_FAMILY_STATUS_Married', 'LIVINGAPARTMENTS_AVG', 'DEF_30_CNT_SOCIAL_CIRCLE', 'LIVINGAPARTMENTS_MODE', 'ENTRANCES_AVG', 'AMT_REQ_CREDIT_BUREAU_MON', 'PA_CC_SK_DPD_mean_mean', 'REGION_RATING_CLIENT_W_CITY', 'CNT_FAM_MEMBERS', 'FLAG_WORK_PHONE', 'B_AMT_CREDIT_SUM_OVERDUE_mean', 'FLOORSMAX_AVG', 'DEF_60_CNT_SOCIAL_CIRCLE', 'FLAG_DOCUMENT_3', 'NAME_EDUCATION_TYPE_Higher education', 'FLOORSMIN_AVG', 'REG_CITY_NOT_LIVE_CITY', 'NONLIVINGAPARTMENTS_AVG', 'ORGANIZATION_TYPE_Self-employed', 'B_CNT_CREDIT_PROLONG_mean', 'FLAG_OWN_CAR_N', 'NAME_CONTRACT_TYPE_Cash loans', 'ENTRANCES_MODE', 'NAME_INCOME_TYPE_Working', 'FLAG_DOCUMENT_18', 'NONLIVINGAPARTMENTS_MODE', 'NAME_EDUCATION_TYPE_Secondary / secondary special', 'AMT_REQ_CREDIT_BUREAU_DAY', 'CNT_CHILDREN', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'ORGANIZATION_TYPE_Construction', 'OCCUPATION_TYPE_Drivers', 'PA_RATE_INTEREST_PRIMARY_mean', 'PA_NFLAG_LAST_APPL_IN_DAY_mean', 'ORGANIZATION_TYPE_Business Entity Type 3', 'OCCUPATION_TYPE_Laborers', 'FLAG_PHONE', 'FLAG_DOCUMENT_16', 'ELEVATORS_AVG', 'ORGANIZATION_TYPE_Transport: type 3', 'OCCUPATION_TYPE_Core staff', 'REGION_RATING_CLIENT', 'WEEKDAY_APPR_PROCESS_START_MONDAY', 'WEEKDAY_APPR_PROCESS_START_TUESDAY', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'WEEKDAY_APPR_PROCESS_START_SATURDAY', 'PA_RATE_INTEREST_PRIVILEGED_mean', 'ORGANIZATION_TYPE_Military', 'B_CREDIT_DAY_OVERDUE_mean', 'ORGANIZATION_TYPE_School', 'NAME_FAMILY_STATUS_Single / not married', 'NAME_HOUSING_TYPE_House / apartment', 'ORGANIZATION_TYPE_Industry: type 9', 'REG_CITY_NOT_WORK_CITY', 'ELEVATORS_MODE', 'FLAG_OWN_REALTY_N', 'WALLSMATERIAL_MODE_Stone, brick', 'FLAG_DOCUMENT_13', 'ORGANIZATION_TYPE_Realtor', 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY', 'OCCUPATION_TYPE_Sales staff', 'NAME_EDUCATION_TYPE_Academic degree', 'NAME_HOUSING_TYPE_Office apartment', 'OCCUPATION_TYPE_Accountants', 'LIVE_CITY_NOT_WORK_CITY', 'OCCUPATION_TYPE_High skill tech staff', 'FLAG_DOCUMENT_11', 'WEEKDAY_APPR_PROCESS_START_FRIDAY', 'WEEKDAY_APPR_PROCESS_START_SUNDAY', 'OCCUPATION_TYPE_Unknown', 'NAME_TYPE_SUITE_Unaccompanied', 'NAME_EDUCATION_TYPE_Lower secondary', 'NAME_INCOME_TYPE_State servant', 'NAME_HOUSING_TYPE_Municipal apartment', 'NAME_FAMILY_STATUS_Widow', 'FLAG_DOCUMENT_14', 'WALLSMATERIAL_MODE_Panel', 'ORGANIZATION_TYPE_Kindergarten', 'OCCUPATION_TYPE_Cleaning staff', 'NAME_INCOME_TYPE_Commercial associate', 'WEEKDAY_APPR_PROCESS_START_THURSDAY', 'NAME_FAMILY_STATUS_Civil marriage', 'ORGANIZATION_TYPE_Industry: type 12', 'ORGANIZATION_TYPE_Security Ministries', 'ORGANIZATION_TYPE_Bank', 'LIVE_REGION_NOT_WORK_REGION', 'ORGANIZATION_TYPE_Restaurant', 'FLAG_DOCUMENT_6', 'NAME_FAMILY_STATUS_Separated', 'OCCUPATION_TYPE_Medicine staff', 'ORGANIZATION_TYPE_Police', 'ORGANIZATION_TYPE_Legal Services', 'NAME_TYPE_SUITE_Family', 'HOUSETYPE_MODE_specific housing', 'ORGANIZATION_TYPE_Business Entity Type 2', 'FONDKAPREMONT_MODE_reg oper spec account', 'NAME_HOUSING_TYPE_With parents', 'ORGANIZATION_TYPE_Trade: type 7', 'FLAG_DOCUMENT_15', 'REG_REGION_NOT_WORK_REGION', 'FONDKAPREMONT_MODE_not specified', 'FLAG_DOCUMENT_8', 'OCCUPATION_TYPE_Security staff', 'OCCUPATION_TYPE_Low-skill Laborers', 'ORGANIZATION_TYPE_Government', 'ORGANIZATION_TYPE_Medicine', 'NAME_TYPE_SUITE_Other_B', 'FONDKAPREMONT_MODE_reg oper account', 'OCCUPATION_TYPE_Private service staff', 'NAME_TYPE_SUITE_Spouse, partner', 'OCCUPATION_TYPE_Managers', 'ORGANIZATION_TYPE_Security', 'ORGANIZATION_TYPE_Industry: type 3', 'OCCUPATION_TYPE_Waiters/barmen staff', 'ORGANIZATION_TYPE_Trade: type 3', 'FLAG_EMAIL', 'ORGANIZATION_TYPE_Trade: type 2', 'WALLSMATERIAL_MODE_Others', 'FLAG_DOCUMENT_5', 'ORGANIZATION_TYPE_Transport: type 4', 'NAME_EDUCATION_TYPE_Incomplete higher', 'FONDKAPREMONT_MODE_org spec account', 'NAME_TYPE_SUITE_Children', 'ORGANIZATION_TYPE_Business Entity Type 1', 'NAME_HOUSING_TYPE_Rented apartment', 'OCCUPATION_TYPE_Cooking staff', 'EMERGENCYSTATE_MODE_No', 'ORGANIZATION_TYPE_Other', 'ORGANIZATION_TYPE_Transport: type 2', 'REG_REGION_NOT_LIVE_REGION', 'FONDKAPREMONT_MODE_Unknown', 'ORGANIZATION_TYPE_Hotel', 'ORGANIZATION_TYPE_Transport: type 1', 'ORGANIZATION_TYPE_Industry: type 11', 'ORGANIZATION_TYPE_Postal', 'HOUSETYPE_MODE_block of flats', 'ORGANIZATION_TYPE_Industry: type 2', 'WALLSMATERIAL_MODE_Block', 'OCCUPATION_TYPE_Secretaries', 'ORGANIZATION_TYPE_Trade: type 4', 'EMERGENCYSTATE_MODE_Yes', 'ORGANIZATION_TYPE_Industry: type 4', 'NAME_TYPE_SUITE_Unknown', 'ORGANIZATION_TYPE_Industry: type 5', 'WALLSMATERIAL_MODE_Mixed', 'ORGANIZATION_TYPE_Trade: type 6', 'ORGANIZATION_TYPE_Services', 'ORGANIZATION_TYPE_Trade: type 1', 'ORGANIZATION_TYPE_Industry: type 1', 'WALLSMATERIAL_MODE_Unknown', 'WALLSMATERIAL_MODE_Wooden', 'ORGANIZATION_TYPE_Cleaning', 'ORGANIZATION_TYPE_Telecom', 'FLAG_DOCUMENT_21', 'ORGANIZATION_TYPE_University', 'NAME_HOUSING_TYPE_Co-op apartment', 'NAME_INCOME_TYPE_Unemployed', 'FLAG_CONT_MOBILE', 'ORGANIZATION_TYPE_Housing', 'ORGANIZATION_TYPE_Electricity', 'ORGANIZATION_TYPE_Agriculture', 'ORGANIZATION_TYPE_Insurance', 'ORGANIZATION_TYPE_Advertising', 'ORGANIZATION_TYPE_Mobile', 'OCCUPATION_TYPE_IT staff', 'WALLSMATERIAL_MODE_Monolithic', 'NAME_TYPE_SUITE_Other_A', 'ORGANIZATION_TYPE_Industry: type 7', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_9', 'ORGANIZATION_TYPE_Emergency', 'HOUSETYPE_MODE_terraced house', 'OCCUPATION_TYPE_HR staff', 'ORGANIZATION_TYPE_Industry: type 13', 'ORGANIZATION_TYPE_Culture', 'FLAG_DOCUMENT_19', 'ORGANIZATION_TYPE_Religion', 'OCCUPATION_TYPE_Realty agents', 'ORGANIZATION_TYPE_Industry: type 10', 'NAME_INCOME_TYPE_Maternity leave', 'ORGANIZATION_TYPE_Industry: type 8', 'CODE_GENDER_XNA', 'NAME_TYPE_SUITE_Group of people', 'FLAG_MOBIL', 'NAME_INCOME_TYPE_Student', 'ORGANIZATION_TYPE_Trade: type 5', 'NAME_INCOME_TYPE_Businessman', 'FLAG_DOCUMENT_7', 'ORGANIZATION_TYPE_Industry: type 6', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_10', 'NAME_FAMILY_STATUS_Unknown', 'FLAG_DOCUMENT_12']

# Applying LGBM Classifier with Feature Engineering

In [66]:
X1 = X[features]
X_test1 = X_test[features]

In [67]:
err_as = []
err_rs = []
err_ps = []
err_roc = []
err_ll = []

y_pred_tot_lgm_1 = []

fold = StratifiedKFold(n_splits=5)
i = 1
for train_index, test_index in fold.split(X1, y):
    x_train, x_val = X1.iloc[train_index], X1.iloc[test_index]
    y_train, y_val = y[train_index], y[test_index]
    m = LGBMClassifier(max_depth=5,
                       learning_rate=0.05,
                       n_estimators=5000,
                       min_child_weight=0.01,
                       colsample_bytree=0.5,
                       random_state=1994)
    m.fit(x_train, y_train,
          eval_set=[(x_train,y_train),(x_val, y_val)],
          early_stopping_rounds=200,
          eval_metric='auc',
          verbose=200)
    pred_y = m.predict(x_val)
    prob_pred = m.predict_proba(x_val)[:,1]
    
    print("Fold ",i, " Accuracy: ",(accuracy_score(pred_y, y_val)))
    print("Fold ",i, " Recall: ",(recall_score(pred_y, y_val)))
    print("Fold ",i, " Precision: ",(precision_score(pred_y, y_val)))
    print("Fold ",i, " ROC AUC: ",(roc_auc_score(y_val, prob_pred)))
    print("Fold ",i, " Logloss: ",(log_loss(y_val, prob_pred)))
    print(confusion_matrix(pred_y, y_val))

    err_as.append(accuracy_score(pred_y, y_val))
    err_rs.append(recall_score(pred_y, y_val))
    err_ps.append(precision_score(pred_y, y_val))
    err_roc.append(roc_auc_score(y_val, prob_pred))
    err_ll.append(log_loss(y_val, prob_pred))

    pred_test = m.predict_proba(X_test1)[:,1]
    i = i + 1
    y_pred_tot_lgm_1.append(pred_test)

Training until validation scores don't improve for 200 rounds.
[200]	training's auc: 0.803361	training's binary_logloss: 0.23262	valid_1's auc: 0.769517	valid_1's binary_logloss: 0.242879
[400]	training's auc: 0.827193	training's binary_logloss: 0.223653	valid_1's auc: 0.773906	valid_1's binary_logloss: 0.241267
[600]	training's auc: 0.845445	training's binary_logloss: 0.216614	valid_1's auc: 0.774885	valid_1's binary_logloss: 0.240854
[800]	training's auc: 0.860946	training's binary_logloss: 0.210315	valid_1's auc: 0.775181	valid_1's binary_logloss: 0.240704
[1000]	training's auc: 0.874464	training's binary_logloss: 0.204442	valid_1's auc: 0.77473	valid_1's binary_logloss: 0.240829
Early stopping, best iteration is:
[844]	training's auc: 0.864446	training's binary_logloss: 0.208873	valid_1's auc: 0.775406	valid_1's binary_logloss: 0.240648
Fold  1  Accuracy:  0.9198738272929776
Fold  1  Recall:  0.5530085959885387
Fold  1  Precision:  0.03887210473313192
Fold  1  ROC AUC:  0.775406151454536
Fold  1  Logloss:  0.24064798809278404
[[56382  4772]
 [  156   193]]
Training until validation scores don't improve for 200 rounds.
[200]	training's auc: 0.803126	training's binary_logloss: 0.232631	valid_1's auc: 0.769823	valid_1's binary_logloss: 0.242919
[400]	training's auc: 0.826471	training's binary_logloss: 0.223827	valid_1's auc: 0.774095	valid_1's binary_logloss: 0.241334
[600]	training's auc: 0.84549	training's binary_logloss: 0.216392	valid_1's auc: 0.775655	valid_1's binary_logloss: 0.240713
[800]	training's auc: 0.860758	training's binary_logloss: 0.210085	valid_1's auc: 0.776076	valid_1's binary_logloss: 0.240552
Early stopping, best iteration is:
[739]	training's auc: 0.856347	training's binary_logloss: 0.21198	valid_1's auc: 0.776155	valid_1's binary_logloss: 0.240514
Fold  2  Accuracy:  0.9198562648369158
Fold  2  Recall:  0.5584415584415584
Fold  2  Precision:  0.03464249748237664
Fold  2  ROC AUC:  0.7761545313898565
Fold  2  Logloss:  0.24051377020118306
[[56401  4793]
 [  136   172]]
Training until validation scores don't improve for 200 rounds.
[200]	training's auc: 0.804887	training's binary_logloss: 0.231963	valid_1's auc: 0.76265	valid_1's binary_logloss: 0.244774
[400]	training's auc: 0.828344	training's binary_logloss: 0.222937	valid_1's auc: 0.767471	valid_1's binary_logloss: 0.243142
[600]	training's auc: 0.846672	training's binary_logloss: 0.215861	valid_1's auc: 0.768373	valid_1's binary_logloss: 0.242851
[800]	training's auc: 0.862254	training's binary_logloss: 0.209434	valid_1's auc: 0.768065	valid_1's binary_logloss: 0.242992
Early stopping, best iteration is:
[608]	training's auc: 0.847479	training's binary_logloss: 0.215545	valid_1's auc: 0.768482	valid_1's binary_logloss: 0.242812
Fold  3  Accuracy:  0.9201001593444116
Fold  3  Recall:  0.5864406779661017
Fold  3  Precision:  0.03484390735146022
Fold  3  ROC AUC:  0.7684821716000185
Fold  3  Logloss:  0.24281214040906055
[[56415  4792]
 [  122   173]]
Training until validation scores don't improve for 200 rounds.
[200]	training's auc: 0.80375	training's binary_logloss: 0.232324	valid_1's auc: 0.76863	valid_1's binary_logloss: 0.243302
[400]	training's auc: 0.828645	training's binary_logloss: 0.222937	valid_1's auc: 0.772645	valid_1's binary_logloss: 0.241724
[600]	training's auc: 0.847566	training's binary_logloss: 0.21572	valid_1's auc: 0.77313	valid_1's binary_logloss: 0.241551
Early stopping, best iteration is:
[565]	training's auc: 0.844567	training's binary_logloss: 0.216875	valid_1's auc: 0.773233	valid_1's binary_logloss: 0.241526
Fold  4  Accuracy:  0.9198400052030828
Fold  4  Recall:  0.5589225589225589
Fold  4  Precision:  0.033434038267875124
Fold  4  ROC AUC:  0.7732328432141355
Fold  4  Logloss:  0.24152562515294057
[[56406  4799]
 [  131   166]]
Training until validation scores don't improve for 200 rounds.
[200]	training's auc: 0.802953	training's binary_logloss: 0.232582	valid_1's auc: 0.770747	valid_1's binary_logloss: 0.24303
[400]	training's auc: 0.827653	training's binary_logloss: 0.223327	valid_1's auc: 0.77523	valid_1's binary_logloss: 0.241215
[600]	training's auc: 0.846082	training's binary_logloss: 0.216272	valid_1's auc: 0.775839	valid_1's binary_logloss: 0.240917
[800]	training's auc: 0.862115	training's binary_logloss: 0.209735	valid_1's auc: 0.776248	valid_1's binary_logloss: 0.240713
[1000]	training's auc: 0.87532	training's binary_logloss: 0.203945	valid_1's auc: 0.776494	valid_1's binary_logloss: 0.240613
[1200]	training's auc: 0.886572	training's binary_logloss: 0.198553	valid_1's auc: 0.776538	valid_1's binary_logloss: 0.240684
Early stopping, best iteration is:
[1115]	training's auc: 0.882077	training's binary_logloss: 0.200754	valid_1's auc: 0.776727	valid_1's binary_logloss: 0.240582
Fold  5  Accuracy:  0.9199538226399141
Fold  5  Recall:  0.5596590909090909
Fold  5  Precision:  0.039677744209466265
Fold  5  ROC AUC:  0.7767265493828324
Fold  5  Logloss:  0.2405815996063769
[[56382  4768]
 [  155   197]]

In [68]:
print('Mean Accuracy Score on CV-5: ', np.mean(err_as, 0))
print('Mean Precision Score on CV-5: ', np.mean(err_ps, 0))
print('Mean Recall Score on CV-5: ', np.mean(err_rs, 0))
print('Mean ROC AUC Score on CV-5: ', np.mean(err_roc, 0))
print('Mean Logloss Score on CV-5: ', np.mean(err_ll, 0))

Mean Accuracy Score on CV-5:  0.9199248158634603
Mean Precision Score on CV-5:  0.03629405840886203
Mean Recall Score on CV-5:  0.5632944964455697
Mean ROC AUC Score on CV-5:  0.7740004494082757
Mean Logloss Score on CV-5:  0.24121622469246903

# Submission file of test set for competition

In [69]:
submission = pd.DataFrame()
submission['SK_ID_CURR'] = test['SK_ID_CURR']
submission['TARGET'] = np.mean(y_pred_tot_lgm, 0)
submission.head()

   SK_ID_CURR    TARGET
0      100001  0.024318
1      100005  0.148784
2      100013  0.022468
3      100028  0.029345
4      100038  0.179023

In [70]:
submission.to_csv('submission.csv', index=False)